.big {
    margin-top: 30px;

    width: 100%;
}

.big__conveyor {
     transition: 1600ms;
 }

.big__slide {
    display: inline-block;
    text-align: justify;
    white-space: nowrap;
    padding-right: 10px;
}