body {
    color: #b8b8b8;
    background-color: #232323;

    font-family: sans-serif;
    overflow: hidden;
}

.page {
    margin: 0 auto;
    max-width: 900px;

    background-color: #1a1a1a;
    border-inline: solid 1px #373737;

    padding-inline: 30px;
}

.title {
    margin-top: 30px;

    text-align: center;
}

.footer {
    margin-top: 30px;
}